<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles.css">
        <script src='http://requirejs.org/docs/release/2.2.0/minified/require.js'></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js" charset="utf-8"></script>
        <title>
            A Pleasing way to Add Notes
        </title>
    </head>
    <body ng-app="app" ng-controller="NotesController">
        <div class="topPanel">
            <span class="header">
                Note Taking - A Pleasing Way to Take Notes
            </span>
        </div>
		<div ng-if="menuOpened" class="container">
			<div class="items">
				<div class="utility">
					<span class="searchNote">Quick To-Do</span>
					<div class="to-do-list">
						<span class="todorow" ng-repeat="n in [].constructor(addRow) track by $index"><input class="checktask" type="checkbox"><input class="taskItem" type="text" placeholder="Add Task/Item">
						<span class="glyphicon glyphicon-trash deleteTask" ng-click="removetodoitem();"></span></span>
						<span class="add-to-do"><span class='glyphicon glyphicon-plus' ng-click="addtodoitem();"></span>Add Item</span>
					</div>
				</div>
				<div class="utility viewNotes">
					<span class="searchNote">View Notes</span>
					<div class="notesList">
						<ul ng-if="numberOfNotes !=0">
							<li ng-repeat="note in noteList">
								{{note.noteTitle}}
							</li>
						</ul>
						<p ng-if="numberOfNotes == 0">No notes added</p>
					</div>
				</div>
				<div class="utility" ng-click="addNote();">
					<span class="searchNote">Add a Note</span>
					<img class="addNote" src="addNote_1.jpg"></img>
				</div>
			</div>
		</div>
		<div ng-if="!menuOpened && newNote" class="container">
			<table class="newNoteBlock">
				<tr>
					<td colspan="2">
						<span class="goBack" ng-click="goBack();">
							<svg width="3rem" height="3rem" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
							</svg>
						</span>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="noteTitleTD"><span class="noteTitleText"><input ng-model="noteTitleValue" type="text" placeholder="Note Title"></span></td>
				<tr>
				<tr>
					<td colspan="4"><span class="noteDescrText"><textarea ng-model="noteDescrValue" placeholder="Note Description"></textarea></span></td>
				<tr>
				<tr>
					<td class="noteTitleTD"><button type="button" class="btn btn-success saveNoteButton" ng-click="saveNote(noteTitleValue,noteDescrValue);">Save</button></td>
				</tr>
			</table>
			</div>
		</div>
		<script src="app.js"></script>
    </body>
</html>