html {
	background-image:url('notes_bckg_2.jpg');
	position:relative;
}
.topPanel {
    background-color: #3d0b0b;
    color: antiquewhite;
    height: 80px;
    width: 100%;
    font-size: 25px;
    padding-top: 20px;
}
.header {
	padding-left:550px;
	text-align: center;
}
.container {
    opacity: 85%;
    background-color: #3d0b0b;
    color: antiquewhite;
    position: absolute;
    margin-left: 7%;
    padding: 1%;
    margin-right: 10%;
    margin-top: 5%;
	margin-bottom:5%;
}
.items {
	display:flex;
}
.utility {
    background-color: #f0e8e3;
    padding: 0.5rem;
    margin: 1rem;
    height: 30rem;
    width: 100rem;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    text-align: -webkit-center;
}
.addNote {
    height: 23rem;
    width: 34rem;
    padding-top: 1rem;
}
.goBack {
    float: right;
    padding-right: 3rem;
}
.form-control {
    display: block;
    width: 95%;
    height: 56px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 10px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 3rem;
}
.to-do-list{
	padding:1.5rem;
}
.checktask {
    margin: 0.25rem !important;
    width: 40px;
    height: 35px;
}
.todorow{
	display:flex;
}
.taskItem {
    width: 24rem;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0.25rem;
}
.add-to-do{
	font-size:18px;
}
.add-to-do .glyphicon {
    font-size: 18px;
    padding: 0.5rem;
    font-weight: lighter;
}
.deleteTask {
    padding-top: 1rem;
    font-size: 2rem;
    padding-left: 0.5rem;
}
.notesList {
    color: black;
    font-size: 18px;
    text-align: left;
    padding: 2rem;
    overflow-y: auto;
    max-height: 23rem;
}
.notesList::-webkit-scrollbar {
    width: 8px;
  }

.notesList::-webkit-scrollbar-track {
    border-radius: 8px;
    color: #9e9ea9;
  }

.notesList::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background:#9e9ea9;
  }
.newNoteBlock {
    background-color: #f0e8e3;
    color: black;
    margin: auto;
    width: 700px;
}
.noteTitleText {
    margin: 14%;
}
.noteTitleText input[type="text"] {
    width: 50rem;
    height: 4rem;
}
.noteDescrText{
	margin: 14%;
}
.noteDescrText textarea {
    overflow: auto;
    height: 20rem;
    width: 50rem;
}
.saveNoteButton {
    margin-left: 45%;
}
.btn-success {
    color: #fff;
    background-color: #3b262d !important;
    border-color: #100203 !important;
}
td.noteTitleTD {
    padding-bottom: 1rem;
}
.deleteNote{
    padding-top: 0;
    font-size: 2rem;
    padding-left: 0.5rem;
    vertical-align: top;
}
.noteRow {
    padding-bottom: 2rem;
}
.tooltiptext {
    width: 21rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin: 3rem -15rem 0 -10rem;
    height: 15rem;
    overflow-y: auto;
}
.tooltiptext::-webkit-scrollbar {
    width: 8px;
  }

.tooltiptext::-webkit-scrollbar-track {
    border-radius: 8px;
    color: #9e9ea9;
  }

.tooltiptext::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background:#9e9ea9;
  }
.viewNote{
    padding-top: 0;
    font-size: 2rem;
    padding-left: 0.5rem;
    vertical-align: top;
}
.noteHead{
    text-decoration: underline;
}
.creatDttm{
    font-size: 10px;
    float: right;
    padding-top: 0.5rem;
}