html {
    background: #fff;
}
.changeColor {
    float:right;
    border:none;
}
#MyColorPicker {
    height:1.5rem;
    width:1.5rem;
    border:none;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-info {
    color: #fff;
    background-color: #daeaf3;
    border-color: #161717;
}
.addLabel {
    float:right;
}
td.chips{
    margin:0.8rem;
}
.chips {
    display: inline-block;
    padding: 0.25rem;
    font-size: 12px;
    border: #b3b3b3 solid 0.13rem;
    border-radius: 25px;
    width: 80px;
}
.labelTD{
    padding-top:1rem;
}
.tab{
    padding-right:1rem;
}
.glyphicon{
    padding-right:0.5rem;
    padding-left:0.5rem;
}

.sub-section{
    list-style:none;
}
li.sub-section:before{
	content: "\e067";
}
.icon-indent{
	margin-left: -20px;
	margin-right: 2.5px;
}	
.addNote {
    outline: solid black 0.01rem;
    margin: 2rem;
    width: 380px;
    table-layout: fixed;
}
.noteTitleText {
    border: medium none;
    font-family: 'ProximaNova-Bold';
    height: 30px;
    outline: medium none;
    width: 350px;
    padding: 0.5rem;
	font-size:large;
}
.saveNote {
    padding-left: 75px;
    padding-bottom: 10px;
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
}
.utilityAlign {
	text-align:center;
}
p#labelPadding {
	margin:0.25rem;
}
.noteSections {
    padding: 0.5rem;
}